src/__pycache__/*
.venv

notebooks/rps_data_sample
notebooks/rps_data_sample.zip
notebooks/rock_exported_model

.vscode

src/dbus_notification

src/pam_gesture.so
src/pam_gesture.o
pam_gesture.so
pam_gesture.o
dbus_notification

*.pkg.tar.zst
pkg/

notebooks/benchmarking/ghostfacenets
notebooks/benchmarking/ghostfacenets/*
notebooks/benchmarking/face_recognition_comparison.png
